body {
    margin: 40px;
    background-color: #1a1a1a;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8rem;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 25rem 25rem auto;
  color: #444;
}

.box {
  background-color: #2f4550;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.b {
  grid-column: 1;
  grid-row: 2 / span 65;
  max-height: 700px;
  overflow: scroll;
  overflow-x: hidden;
}

.a {
  grid-column: 1 / span 5;
    grid-row: 1 / span 1;
}
.c {
  grid-column: 2 / span 2;
  grid-row: 2 / span 35;
 
}
.d {
  grid-column: 2 / span 2;
  grid-row: 37 / span 30;
}
.e {
    grid-column: 4 / span 2;
    grid-row: 2 / span 54;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

.f{
    grid-column: 4 / span 2;
    grid-row: 54 / span 11;
}

.g{
  grid-column: 1 / span 4;
  grid-row: 2 / span 60;
  display: none;
}

.h{
grid-column: 5 / span 1;
grid-row: 2 / span 35;
display: none;
}

.i{
  grid-column: 5 / span 1;
  grid-row: 37 / span 23;
  display: none;
  overflow: scroll;
  overflow-y: hidden;
}

.j {
  grid-column: 1 / span 2;
  grid-row: 40 / span 20;
  display: none;
}

.k {
  margin-left: 200px;
  grid-column: 2 / span 1;
  grid-row: 40 / span 20;
  display: none;
}

#errorText{
  display: none;
}

ul#companyList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#companyList li {
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  margin-left: 20px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 500px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}



div.b section {
    display: none;		
    grid-gap: 5px;
    grid-template-columns: 10rem auto;	
}
div.c section {
    display: none;   
}

table tr td {
  border-right: 1px solid #8FA575;
}

input[type=text]{
  padding: 10px;
  border-radius: 5px;
  border: 5px solid  #accfce;
}

button, #go, #clear{
  font-family: 'DM Sans', sans-serif;
  background-color: #b8dbd9;
  font-size: 16px;
  padding: 15px;
  color: white;
  border-radius: 5px;
  margin: 5px;
  border: 2px solid #accfce;
  cursor: pointer;
}

fieldset{
  border: 0;
}

#go, #clear{
  padding-left: 55px;
  padding-right: 55px;
}

#viewBtn{
 display: flex;
 align-items: right;
 justify-content: right;
 margin-left: 350px;
 margin-top: -75px;
}

#headers{
  cursor: pointer;
}

#stockLogo img {
  max-height: 50px;
  max-width: auto;
}

.stockB{
  border-style: none;
}

/* CSS Loader source: https://loading.io/css/ */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #cdd422;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #c2dde6 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}