body {
  margin: 40px;
  background-color: #1a1a1a;
  font-family: 'DM Sans', sans-serif;
  font-size: 0.8rem;
}

.container {
display: grid;
grid-gap: 10px;
grid-template-columns: 25rem 25rem auto;
color: #444;
}

.box {
background-color: #2f4550;
color: white;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}

.a {
grid-column: 1 / span 5;
  grid-row: 1 / span 1;
}

.b {
grid-column: 1;
grid-row: 2 / span 65;
max-height: 780px;
overflow: scroll;
overflow-x: hidden;
}

.c {
grid-column: 2 / span 2;
grid-row: 2 / span 35;
max-width: 750px;

}

.d {
grid-column: 2 / span 2;
grid-row: 37 / span 30;
max-width: 750px;
}

.e {
  grid-column: 4 / span 2;
  grid-row: 2 / span 54;
  max-height: 640px;
  overflow: scroll;
  overflow-x: hidden;
}

.f{
  grid-column: 4 / span 2;
  grid-row: 56 / span 11;
  position: relative;
}

.g{
grid-column: 1 / span 4;
grid-row: 2 / span 60;
display: none;
}

.h{
grid-column: 5 / span 1;
grid-row: 2 / span 35;
display: none;
}

.i{
grid-column: 5 / span 1;
grid-row: 37 / span 23;
display: none;
overflow: scroll;
overflow-y: hidden;
}

.j {
grid-column: 1 / span 2;
grid-row: 40 / span 20;
display: none;
}

.k {
margin-left: 200px;
grid-column: 2 / span 1;
grid-row: 40 / span 20;
display: none;
}

ul#companyList {
list-style-type: none;
margin: 0;
padding: 0;
}

ul#companyList li {
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.tooltip {
position: relative;
display: inline-block;
background-color: pink;
padding: 5px;
border: 1px solid rgb(235, 169, 180);
border-radius: 5px;
margin-left: 20px;
}

.tooltip .tooltiptext {
visibility: hidden;
width: 500px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: -5px;
left: 105%;
}

div.b section {
  display: none;		
  grid-gap: 5px;
  grid-template-columns: 10rem auto;	
}

div.c section {
  display: none;   
}

div.c section label, h2 {
color: #90c0be;
font-weight: bold;
}

table tr td {
border-right: 1px solid pink;
}

input[type=text]{
padding: 10px;
border-radius: 5px;
border: 5px solid  #accfce;
}

button, #go, #clear{
font-family: 'DM Sans', sans-serif;
background-color: #8fc0be;
font-size: 16px;
padding: 15px;
color: white;
border-radius: 5px;
margin: 5px;
border: 2px solid #accfce;
cursor: pointer;
}

#go, #clear{
padding-left: 55px;
padding-right: 55px;
}

fieldset{
border: 0;
}

#viewBtn{
display: flex;
align-items: right;
justify-content: right;
margin-left: 350px;
margin-top: -75px;
}

#headers{
cursor: pointer;
}

#stockLogo img {
max-height: 50px;
max-width: auto;
}

.listB{
border-style: none;
}

/* CSS Loader source: https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
border: 16px solid #f3f3f3;
border-top: 16px solid#90c0be;
border-radius: 50%;
width: 60px;
height: 60px;
animation: spin 2s linear infinite;
margin-left: auto;
margin-right: auto;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}